body {
  font-family: 'Lato', sans-serif;
  color: rgba(110,45,48,1);
}

/*------heading--------*/
.heading {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgba(235,170,160,1);
  height: 15%;
  padding-top: 5vh;
  color: white;
  font-size: 20px;
  font-weight: 320;
  padding-bottom: 5vh;
  justify-content: space-between;
  padding-left: 5vh;
  padding-right: 5vh;
}

.name {
  font-weight: 800;
  font-size: 40px;
  font-size: 2.5em;
}

.heading a {
  padding-top: 3vh;
  padding-right: 3vh;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 15px;


}

.space {
  height: 2vh;
  width: 5px;
}

.heading h1 {
  text-transform: uppercase;
}

.heading {
  letter-spacing: 1px;
}

/*------Main content-----*/
.content {
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 85%;
}

.content p {
  padding-left: 2vh;
  line-height: 1.6;
  font-weight: 300;
}

.description {
  padding: 45px 5px 5px 20px;
  width: 30%;
  padding-right: 5vw;
}

.description h1 {
  padding-left: 2vh;
  line-height: 1.3;
  font-size: 25px;
  font-size: 1.5em;
  font-weight: 300;
}

.bold {
  font-weight: 900;
}
/*-----main content-----*/
.mainimage {
  padding-left: 5vh;
  height: 100%;
  width: 95%;
}

.windToys h1 {
  padding-top: 3vh;
  padding-bottom: 5vh;
  font-weight: 200;
  font-size: 25px;
  font-size: 1.5em;
  margin-left: 5vh;
}

/*------end of main content-------*/

/*----------row of images---------*/

.imagerow {
  padding-top: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.images {
  height: 90%;
  padding: 5px;
}

.cont {
  height: 30vh;
}


/*-------------------------------*/

.footer {
  background-color: rgba(235,170,160,1);
  color: white;
  letter-spacing: 1px;
  line-height: 1.2;
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-left: 7vh;
  display: flex;
  z-index: 100;
  flex-direction: row;
  left: 0;
  bottom: 0;
  width: 100%;
}

.location h4 {
  font-weight: 300;
}

.times {
  margin-left: 35vh;
}

.times h4 {
  font-weight: 300;
}


@media (min-width: 750px) {
  
}
